/** Variables
 ---------------------------------------------------------*/
:root {
    --nav-text: rgb(241, 241, 241);
    --primary-text: rgb(144,144,144);
    --title: rgb(85,99,100);

    --dark-green-1: rgb(43,208,104);
    --nav-background: rgb(37,47,49);
    --light-grey-1: rgb(242,242,242);
    --dark-grey-1: rgb(75,85,87);
}


/** Reset
 ---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    line-height: 1.5;
    font-size: 2rem;
}

/** Universal Classes
 ---------------------------------------------------------*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--title);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.content {
    font-size: 1.5rem;
}


/** Header Section
 ---------------------------------------------------------*/
.heading-content {
    background-image: url("../img/forest.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 95vh;

    flex-direction: column;
}

.heading-text {
    font-size: 6rem;
    font-weight: 300;
    color: var(--nav-text);
    border-top: 2px solid var(--nav-text);
    border-bottom: 2px solid var(--nav-text);
    margin: 3rem 1rem;
    text-transform: uppercase;
}

.btn-heading {
    width: 18rem;
    height: 6rem;
    color: var(--nav-text);
    border: 2px solid var(--nav-text);
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;

    transition: all .3s;
}

.btn-heading:hover {
    color: var(--dark-green-1);
    border: 2px solid var(--dark-green-1);
}


/** Navigation Section
 ---------------------------------------------------------*/
.main-navigation {
    height: 7rem;
    background-color: var(--nav-background);
    display: flex;
}

.container {
    width: 120rem;
    margin: 0 auto;
    
    align-self: stretch;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--nav-text);
    text-transform: uppercase;

    transition: all .3s;
}

.logo-icon {
    
    background-color: var(--dark-grey-1);
    margin-right: 1.7rem;
    padding: .4rem 1.5rem;
}

.logo-name-end {
    color: var(--dark-green-1);
}

.user-navigation {
    font-size: 1.5rem;
    letter-spacing: 1.05;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    
    align-self: stretch;
    
}

.item {
    margin: 0 2rem;
    transition: all .3s;
    color: var(--nav-text);

    align-self: stretch;
}

.item:hover {
    color: var(--dark-green-1);
}


/** About Me Section
 ---------------------------------------------------------*/
.skill-item {
    margin: 6rem 0;
}

 .skill-item:not(:last-child) {
margin-right: 5rem;
}

.about-content {
    max-width: 140rem;
    display: flex;
} 

.about-section {
    background-color: var(--light-grey-1);

}

.about-image {
     background-size: contain;
     background-repeat: no-repeat;
     background-position: left;
     width: 65rem;
 }

 .about-me-text {
    padding-top: 10rem;  
    padding-left: 10rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 }